langchain
wikipedia
langchain-community
langchain-openai
langchain-anthropic
python-dotenv
pydantic
genai
langchain-google-genai
google-generativeai
requests
imapclient
mail-parser
beautifulsoup4
lxml
html2text
pytz
babel
sqlite-utils
typer
rich